In [160]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import sklearn

In [161]:
data = pd.read_csv("train.csv")

In [162]:
data.isna().sum()
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [163]:
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [164]:
data = data.fillna(data.mode().iloc[0])
data['VIP'] = data['VIP'].astype(int)
data['Transported'] = data['Transported'].astype(int)
data['CryoSleep'] = data['CryoSleep'].astype(int)

data[['c', 'a', 'b']] = data['Cabin'].str.split('/', expand=True)
#data[['group', 'gr_num']] = data['PassengerId'].str.split('_', expand=True)

data.drop("PassengerId", axis=1, inplace=True)
data.drop("Name", axis=1, inplace=True)

data["c"] = pd.Categorical(data["c"])
data["c"] = data["c"].cat.codes

data["b"] = pd.Categorical(data["b"])
data["b"] = data["b"].cat.codes

data["HomePlanet"] = pd.Categorical(data["HomePlanet"])
data["HomePlanet"] = data["HomePlanet"].cat.codes

data["Destination"] = pd.Categorical(data["Destination"])
data["Destination"] = data["Destination"].cat.codes


#data = data.assign(money=data[["RoomService", "FoodCourt", "ShoppingMall", "Spa","VRDeck"]].sum(axis=1))
#data.drop("RoomService", axis=1, inplace=True)
#data.drop("FoodCourt", axis=1, inplace=True)
#data.drop("ShoppingMall", axis=1, inplace=True)
#data.drop("Spa", axis=1, inplace=True)
#data.drop("VRDeck", axis=1, inplace=True)
data.drop("Cabin", axis=1, inplace=True)

In [165]:
data

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,c,a,b
0,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,0,1,0,0
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,1,5,0,1
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,0,0,1
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,0,0,1
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,1,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0,0,98,0
8689,0,1,1,18.0,0,0.0,0.0,0.0,0.0,0.0,0,6,1499,1
8690,0,0,2,26.0,0,0.0,0.0,1872.0,1.0,0.0,1,6,1500,1
8691,1,0,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0,4,608,1
8692,1,0,2,44.0,0,126.0,4688.0,0.0,0.0,12.0,1,4,608,1

In [166]:
for i in data:
    data[i] = scaler.fit_transform(data[[i]])
    data[i] = scaler.transform(data[[i]])

In [167]:
data

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,c,a,b
0,0.25,0.0,0.50,0.006249,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.020408,0.000000e+00,0.0
1,0.00,0.0,0.50,0.003846,0.0,5.310262e-07,1.012584e-08,4.530019e-08,1.093367e-06,7.554923e-08,1.0,0.102041,0.000000e+00,1.0
2,0.25,0.0,0.50,0.009293,1.0,2.094874e-07,4.023335e-06,0.000000e+00,1.337334e-05,8.413437e-08,0.0,0.000000,0.000000e+00,1.0
3,0.25,0.0,0.50,0.005288,0.0,0.000000e+00,1.443495e-06,6.722548e-07,6.629910e-06,3.313864e-07,0.0,0.000000,0.000000e+00,1.0
4,0.00,0.0,0.50,0.002564,0.0,1.476155e-06,7.875655e-08,2.736131e-07,1.125232e-06,3.434056e-09,1.0,0.102041,2.787662e-07,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0.25,0.0,0.00,0.006569,1.0,0.000000e+00,7.672013e-06,0.000000e+00,3.272136e-06,1.270601e-07,0.0,0.000000,2.731908e-05,0.0
8689,0.00,1.0,0.25,0.002884,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.122449,4.178705e-04,1.0
8690,0.00,0.0,0.50,0.004166,0.0,0.000000e+00,0.000000e+00,3.392078e-06,1.991562e-09,0.000000e+00,1.0,0.122449,4.181492e-04,1.0
8691,0.25,0.0,0.00,0.005127,0.0,0.000000e+00,1.180223e-06,0.000000e+00,7.030213e-07,5.554586e-06,0.0,0.081633,1.694898e-04,1.0
8692,0.25,0.0,0.50,0.007050,0.0,6.138468e-07,5.274439e-06,0.000000e+00,0.000000e+00,2.060434e-08,1.0,0.081633,1.694898e-04,1.0

In [168]:
data.to_csv('clean.csv', index = False)

In [169]:
df_train = pd.read_csv('clean.csv')
X = df_train.drop("Transported", axis = 1).values
y = df_train["Transported"].values

#X = X.astype(float)
#y = y.astype(float)
#invalid_mask = np.isnan(X) | ~np.isfinite(X)
#X[invalid_mask] = 0

#invalid_mask = np.isnan(y) | ~np.isfinite(y)
#y[invalid_mask] = 0

In [170]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
X_train.shape, X_test.shape

((6954, 13), (1739, 13))

In [171]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
rf_pred_score = rf.score(X_test, y_test)

In [172]:
rf_pred_score

0.8033352501437608

In [173]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier()
gb.fit(X_train, y_train)
gb_pred_score = gb.score(X_test, y_test)

In [174]:
gb_pred_score

0.7740080506037953

In [155]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)
svc_pred_score = svc.score(X_test, y_test)

In [156]:
svc_pred_score

0.7740080506037953

In [157]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
gnb_pred_score = gnb.score(X_test, y_test)

In [158]:
gnb_pred_score

0.699252443933295

In [159]:
data = pd.read_csv("test.csv")


data = data.fillna(data.mode().iloc[0])
data['VIP'] = data['VIP'].astype(int)
data['CryoSleep'] = data['CryoSleep'].astype(int)

data[['c', 'a', 'b']] = data['Cabin'].str.split('/', expand=True)

data.drop("PassengerId", axis=1, inplace=True)
data.drop("Name", axis=1, inplace=True)

data["c"] = pd.Categorical(data["c"])
data["c"] = data["c"].cat.codes

data["b"] = pd.Categorical(data["b"])
data["b"] = data["b"].cat.codes

data["HomePlanet"] = pd.Categorical(data["HomePlanet"])
data["HomePlanet"] = data["HomePlanet"].cat.codes

data["Destination"] = pd.Categorical(data["Destination"])
data["Destination"] = data["Destination"].cat.codes


#data = data.assign(money=data[["RoomService", "FoodCourt", "ShoppingMall", "Spa","VRDeck"]].sum(axis=1))
#data.drop("RoomService", axis=1, inplace=True)
#data.drop("FoodCourt", axis=1, inplace=True)
#data.drop("ShoppingMall", axis=1, inplace=True)
#data.drop("Spa", axis=1, inplace=True)
#data.drop("VRDeck", axis=1, inplace=True)
data.drop("Cabin", axis=1, inplace=True)

In [86]:
X = data.values

X = X.astype(float)
#invalid_mask = np.isnan(X) | ~np.isfinite(X)
#X[invalid_mask] = 0

In [87]:
test_pred = gb.predict(X)
len(test_pred)

4277

In [88]:
sample = pd.read_csv("sample_submission.csv")

In [89]:
sample['Transported'] = test_pred.astype(bool)
sample.to_csv("new_test6.csv", index=False)