In [720]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import sklearn

In [721]:
data = pd.read_csv("train.csv")

In [722]:
#data['VIP'] = data['VIP'].fillna(False)
#data['CryoSleep'] = data['CryoSleep'].fillna(False)
data = data.fillna(data.mode().iloc[0])
data['VIP'] = data['VIP'].astype(int)
data['Transported'] = data['Transported'].astype(int)
data['CryoSleep'] = data['CryoSleep'].astype(int)

#data[['c', 'a', 'b']] = data['Cabin'].str.split('/', expand=True)
data[['group', 'gr_num']] = data['PassengerId'].str.split('_', expand=True)

data.drop("Cabin", axis=1, inplace=True)
data.drop("PassengerId", axis=1, inplace=True)
data.drop("Name", axis=1, inplace=True)
data.drop("gr_num", axis=1, inplace=True)

data["HomePlanet"] = pd.Categorical(data["HomePlanet"])
data["HomePlanet"] = data["HomePlanet"].cat.codes

data["Destination"] = pd.Categorical(data["Destination"])
data["Destination"] = data["Destination"].cat.codes

#data["gr_num"] = pd.Categorical(data["gr_num"])
#data["gr_num"] = data["gr_num"].cat.codes

data = data.assign(money=data[["RoomService", "FoodCourt", "ShoppingMall", "Spa","VRDeck"]].sum(axis=1))
data.drop("RoomService", axis=1, inplace=True)
data.drop("FoodCourt", axis=1, inplace=True)
data.drop("ShoppingMall", axis=1, inplace=True)
data.drop("Spa", axis=1, inplace=True)
data.drop("VRDeck", axis=1, inplace=True)

In [723]:
scaler = MinMaxScaler()
#data["Age"] = scaler.fit_transform(data[["Age"]])
#data["group"] = scaler.fit_transform(data[["group"]])
#data["money"] = scaler.fit_transform(data[["money"]])
#data["Destination"] = scaler.fit_transform(data[["Destination"]])
#data["c"] = scaler.fit_transform(data[["c"]])
#data["a"] = scaler.fit_transform(data[["a"]])
#data["b"] = scaler.fit_transform(data[["b"]])

In [724]:
data

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,group,money
0,1,0,2,39.0,0,0,0001,0.0
1,0,0,2,24.0,0,1,0002,736.0
2,1,0,2,58.0,1,0,0003,10383.0
3,1,0,2,33.0,0,0,0003,5176.0
4,0,0,2,16.0,0,1,0004,1091.0
...,...,...,...,...,...,...,...,...
8688,1,0,0,41.0,1,0,9276,8536.0
8689,0,1,1,18.0,0,0,9278,0.0
8690,0,0,2,26.0,0,1,9279,1873.0
8691,1,0,0,32.0,0,0,9280,4637.0
8692,1,0,2,44.0,0,1,9280,4826.0

In [725]:
data.to_csv('clean.csv', index = False)

In [726]:
df_train = pd.read_csv('clean.csv')
X = df_train.drop("Transported", axis = 1).values
y = df_train["Transported"].values

X = X.astype(float)
y = y.astype(float)
invalid_mask = np.isnan(X) | ~np.isfinite(X)
X[invalid_mask] = 0

invalid_mask = np.isnan(y) | ~np.isfinite(y)
y[invalid_mask] = 0

In [727]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
X_train.shape, X_test.shape

((6954, 7), (1739, 7))

In [728]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
rf_pred_score = rf.score(X_test, y_test)

In [729]:
rf_pred_score

0.7193789534215066

In [730]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier()
gb.fit(X_train, y_train)
gb_pred_score = gb.score(X_test, y_test)

In [731]:
gb_pred_score

0.7567567567567568

In [732]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)
svc_pred_score = svc.score(X_test, y_test)

In [733]:
svc_pred_score

0.7475560667050029

In [734]:
data = pd.read_csv("test.csv")


data = data.fillna(data.mode().iloc[0])
data['VIP'] = data['VIP'].astype(int)
data['CryoSleep'] = data['CryoSleep'].astype(int)

data[['group', 'gr_num']] = data['PassengerId'].str.split('_', expand=True)

data.drop("Cabin", axis=1, inplace=True)
data.drop("PassengerId", axis=1, inplace=True)
data.drop("Name", axis=1, inplace=True)
data.drop("gr_num", axis=1, inplace=True)

data["HomePlanet"] = pd.Categorical(data["HomePlanet"])
data["HomePlanet"] = data["HomePlanet"].cat.codes

data["Destination"] = pd.Categorical(data["Destination"])
data["Destination"] = data["Destination"].cat.codes

#data["gr_num"] = pd.Categorical(data["gr_num"])
#data["gr_num"] = data["gr_num"].cat.codes

data = data.assign(money=data[["RoomService", "FoodCourt", "ShoppingMall", "Spa","VRDeck"]].sum(axis=1))
data.drop("RoomService", axis=1, inplace=True)
data.drop("FoodCourt", axis=1, inplace=True)
data.drop("ShoppingMall", axis=1, inplace=True)
data.drop("Spa", axis=1, inplace=True)
data.drop("VRDeck", axis=1, inplace=True)

In [735]:
X = data.values

X = X.astype(float)
invalid_mask = np.isnan(X) | ~np.isfinite(X)
X[invalid_mask] = 0

In [736]:
data

      HomePlanet  CryoSleep  Destination   Age  VIP group   money
0              0          1            2  27.0    0  0013     0.0
1              0          0            2  19.0    0  0018  2832.0
2              1          1            0  31.0    0  0019     0.0
3              1          0            2  38.0    0  0021  7418.0
4              0          0            2  20.0    0  0023   645.0
...          ...        ...          ...   ...  ...   ...     ...
4272           0          1            2  34.0    0  9266     0.0
4273           0          0            2  42.0    0  9269  1018.0
4274           2          1            0  18.0    0  9271     0.0
4275           1          0            2  18.0    0  9273  3203.0
4276           0          1            1  43.0    0  9277     0.0

[4277 rows x 7 columns]

In [737]:
test_pred = gb.predict(X)
len(test_pred)

4277

In [738]:
sample = pd.read_csv("sample_submission.csv")

In [739]:
sample['Transported']
sample['Transported'] = sample['Transported'].astype(bool)
sample.to_csv("new_test2.csv", index=False)