In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import sklearn

In [2]:
data = pd.read_csv("train.csv")

In [3]:
data.isna().sum()
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [4]:
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [5]:
data = data.fillna(data.mode().iloc[0])
data['VIP'] = data['VIP'].astype(int)
data['Transported'] = data['Transported'].astype(int)
data['CryoSleep'] = data['CryoSleep'].astype(int)

data[['c', 'a', 'b']] = data['Cabin'].str.split('/', expand=True)
#data[['group', 'gr_num']] = data['PassengerId'].str.split('_', expand=True)

data.drop("PassengerId", axis=1, inplace=True)
data.drop("Name", axis=1, inplace=True)

data["c"] = pd.Categorical(data["c"])
data["c"] = data["c"].cat.codes

data["b"] = pd.Categorical(data["b"])
data["b"] = data["b"].cat.codes

data["HomePlanet"] = pd.Categorical(data["HomePlanet"])
data["HomePlanet"] = data["HomePlanet"].cat.codes

data["Destination"] = pd.Categorical(data["Destination"])
data["Destination"] = data["Destination"].cat.codes


data = data.assign(money=data[["RoomService", "FoodCourt", "ShoppingMall", "Spa","VRDeck"]].sum(axis=1))
data.drop("RoomService", axis=1, inplace=True)
data.drop("FoodCourt", axis=1, inplace=True)
data.drop("ShoppingMall", axis=1, inplace=True)
data.drop("Spa", axis=1, inplace=True)
data.drop("VRDeck", axis=1, inplace=True)
data.drop("Cabin", axis=1, inplace=True)

In [6]:
data

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,c,a,b,money
0,1,0,2,39.0,0,0,1,0,0,0.0
1,0,0,2,24.0,0,1,5,0,1,736.0
2,1,0,2,58.0,1,0,0,0,1,10383.0
3,1,0,2,33.0,0,0,0,0,1,5176.0
4,0,0,2,16.0,0,1,5,1,1,1091.0
...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,41.0,1,0,0,98,0,8536.0
8689,0,1,1,18.0,0,0,6,1499,1,0.0
8690,0,0,2,26.0,0,1,6,1500,1,1873.0
8691,1,0,0,32.0,0,0,4,608,1,4637.0
8692,1,0,2,44.0,0,1,4,608,1,4826.0

In [7]:
data.to_csv('clean.csv', index = False)

In [8]:
df_train = pd.read_csv('clean.csv')
X = df_train.drop("Transported", axis = 1).values
y = df_train["Transported"].values

#X = X.astype(float)
#y = y.astype(float)
#invalid_mask = np.isnan(X) | ~np.isfinite(X)
#X[invalid_mask] = 0

#invalid_mask = np.isnan(y) | ~np.isfinite(y)
#y[invalid_mask] = 0

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
X_train.shape, X_test.shape

((6954, 9), (1739, 9))

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
rf_pred_score = rf.score(X_test, y_test)

In [11]:
rf_pred_score

0.7389304197814837

In [12]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier()
gb.fit(X_train, y_train)
gb_pred_score = gb.score(X_test, y_test)

In [13]:
gb_pred_score

0.7464059804485337

In [14]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)
svc_pred_score = svc.score(X_test, y_test)

In [15]:
svc_pred_score

0.7274295572167913

In [16]:
data = pd.read_csv("test.csv")


data = data.fillna(data.mode().iloc[0])
data['VIP'] = data['VIP'].astype(int)
data['CryoSleep'] = data['CryoSleep'].astype(int)

data[['c', 'a', 'b']] = data['Cabin'].str.split('/', expand=True)

data.drop("PassengerId", axis=1, inplace=True)
data.drop("Name", axis=1, inplace=True)

data["c"] = pd.Categorical(data["c"])
data["c"] = data["c"].cat.codes

data["b"] = pd.Categorical(data["b"])
data["b"] = data["b"].cat.codes

data["HomePlanet"] = pd.Categorical(data["HomePlanet"])
data["HomePlanet"] = data["HomePlanet"].cat.codes

data["Destination"] = pd.Categorical(data["Destination"])
data["Destination"] = data["Destination"].cat.codes


data = data.assign(money=data[["RoomService", "FoodCourt", "ShoppingMall", "Spa","VRDeck"]].sum(axis=1))
data.drop("RoomService", axis=1, inplace=True)
data.drop("FoodCourt", axis=1, inplace=True)
data.drop("ShoppingMall", axis=1, inplace=True)
data.drop("Spa", axis=1, inplace=True)
data.drop("VRDeck", axis=1, inplace=True)
data.drop("Cabin", axis=1, inplace=True)

In [17]:
X = data.values

X = X.astype(float)
#invalid_mask = np.isnan(X) | ~np.isfinite(X)
#X[invalid_mask] = 0

In [18]:
X

array([[0.000e+00, 1.000e+00, 2.000e+00, ..., 3.000e+00, 1.000e+00,
        0.000e+00],
       [0.000e+00, 0.000e+00, 2.000e+00, ..., 4.000e+00, 1.000e+00,
        2.832e+03],
       [1.000e+00, 1.000e+00, 0.000e+00, ..., 0.000e+00, 1.000e+00,
        0.000e+00],
       ...,
       [2.000e+00, 1.000e+00, 0.000e+00, ..., 2.960e+02, 0.000e+00,
        0.000e+00],
       [1.000e+00, 0.000e+00, 2.000e+00, ..., 2.970e+02, 0.000e+00,
        3.203e+03],
       [0.000e+00, 1.000e+00, 1.000e+00, ..., 1.498e+03, 1.000e+00,
        0.000e+00]])

In [19]:
test_pred = gb.predict(X)
len(test_pred)

4277

In [20]:
sample = pd.read_csv("sample_submission.csv")

In [21]:
sample['Transported'] = test_pred.astype(bool)
sample.to_csv("new_test4.csv", index=False)